@import "tailwindcss";

/*

@theme {
  --color-primary: #646cff;
}

@custom-variant dark (&:where(.dark, .dark *));

@layer theme {
  .dark {
    --color-primary: #fffff;
  }
}


@layer base {
  :root {
    --color-primary: #646cff;
    --color-secondary: #f9f9f9;
    --color-background: #242424;
    --color-text: rgba(255, 255, 255, 0.87);
  }
  @media (prefers-color-scheme: light) {
    :root {
      --color-primary: #535bf2;
      --color-secondary: #f9f9f9;
      --color-background: #ffffff;
      --color-text: #213547;
    }
  }
}
*/


:root {
  color-scheme: light dark;
  color: #ffffff;
  background-color: #E2F4FF;
  --color-primary: #5FA8D3;
  --color-secondary: #E2F4FF;
  --color-background: #E2F4FF;
}

@media (prefers-color-scheme: light) {
  :root {
    color: #213547;
    background-color: #E2F4FF;
    --color-primary: #5FA8D3;
    --color-secondary: #E2F4FF;
    --color-background: #E2F4FF;
  }
  a:hover {
    color: #747bff;
  }
  button {
    background-color: #f9f9f9;
  }
}

@layer base{
  .bg-primary {
    background-color: var(--color-primary);
  }
}