@import "tailwindcss";


:root {
  color-scheme: light dark;
  color: #ffffff;
  background-color: #0A1B34;
  --color-primary: #1A3C6C;
  --color-secondary: #E2F4FF;
  --color-text: #E2F4FF;
  --color-darkertext: #ADE0FF;
}

@media (prefers-color-scheme: dark) { /* change dark to light */
  :root {
    color: #213547;
    background-color: #E2F4FF;
    --color-primary: #5FA8D3;
    --color-secondary: #E2F4FF; 
    --color-text: #E2F4FF;
    --color-darkertext: #ADE0FF;
  }
}

@layer base{
  .bg-primary {
    background-color: var(--color-primary);
  }
  .bg-background {
    background-color: var(--color-background);
  }
  .text-text {
    color: var(--color-text);
  }
  .text-darkertext {
    color: var(--color-darkertext);
  }
}